body {
    background-image: linear-gradient(to bottom right, silver, white);
    display: flex;
    flex-direction: column;
    height: 600px;
}

.viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1000px;
    height: 400px;
    box-shadow: 3px 0px 10px grey;
    margin-bottom: 0;
}

.photobox {
    width: 900px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.gray-container {
    width: 900px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgba(14, 14, 14, 0.5);
    position: relative;
    top: -106px;  
    padding-top: 5px;
    padding-bottom: 20px; 
}

#photo-title {
    color: white;
    margin: 0px 10px 15px 10px;
    padding: 0;
    position: relative;
    top: 0px;
    font-family: 'Exo 2', sans-serif;
}

#photo-description {
    color: lightgray;
    margin: 0px 10px auto 10px;
    padding: 0;
    position: relative;
    font-family: 'Exo 2', sans-serif;
    font-size: 12px;
}

#photo {
    object-fit: cover;
    height: 400px;
    width: 900x;
    margin: 0;
}

button {
    height: 100%;
    width: 50px;
    border-radius: 0%;
    margin: 0;
    background-color:rgb(224, 223, 223);
}   

button:hover {
    background-color: rgb(243, 243, 243);
    opacity: 0.4;
}

#leftarrow {
    height: 20px;
    width: 15px;
}

#rightarrow {
    height: 20px;
    width: 15px;
    transform: rotate(0.5turn);
}

#thumbnail {
    position: relative;
    top: 0px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 100px;
}

#thumbnail-photo {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    object-fit: cover;
    border: 3px solid rgb(224, 223, 223);
    box-shadow: 3px 0px 10px grey;
}   

#thumbnail-photo:active {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    object-fit: cover;
    border: 5px solid rgb(173, 173, 173);
}

#thumbnail-titles {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -5px; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 10px;
} 

.thumb-title {
    display: flex;
    position: relative;
    top: 0px;
    width: 50px;
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    align-items: center;
    color: white;
    background-color: rgba(14, 14, 14, 0.7);
    border-radius: 3px;
    font-family: 'Exo 2', sans-serif;
    font-size: 10px;
    opacity: 0;
}

 #thumbnail:hover .thumb-title {
    opacity: 1;
}